body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.conteiner {
    width: 1280px;
    height: 1626px;
    margin: 0px;
}

.nav {
    display: flex;
    height: 72px;
    width: 1280px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background-color: #fff;
    color: red;
}

.nav > li {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2.7px; 
    margin-left: 72px;
    margin-right: 10px;
}

.nav > li > a {
    color: #FF0000 ;
    text-decoration: none;
}

.conteiner-text {
    background-color: #fff;
    margin: 48px 67.5px 42px 67.5px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;   
    letter-spacing: 3.3px;
    text-transform: uppercase;
}

.text-item {
    margin-top: 38px;

}


.text-item-2 {
    margin-top: 28px;
}


.button {
    background-color: #FF0000;
    color: #FFFFFF;
    width: 191px;
    height: 51px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.8px;
    line-height: 100%;    
    align-items: center; 
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 66px;
    cursor: pointer;
}

footer {
    width: 1070px;
    margin: 105px;
    margin-top: 82px;
    margin-bottom: 29px;
}

.credits {
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    margin-left: 102.5px;
    margin-right: 792.5px;
}

address {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    margin-left: 608px;
}