body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 70px 100px 30px;
    width: 1280px;
}
.container {    
    display: flex;
    width: 100%;
}
.logo {
    margin-top: 60px;
    margin-bottom: 30px;
}
.logo-text {
    text-decoration: none;
    color: #000000;
    font-size: 80px;
    line-height: 94px;
}
.logo-text-span {
    color: #4bcaff;
}
.header {
    display: flex;
    text-align: center;
    width: 100%;
    height: 80px;
    justify-content: center;
    background-color: #35444f;
    color: #ffffff;
    font-size: 24px;
    line-height: 28px;   
    margin-bottom: 50px; 
}
.header-ul{
    display: flex;    
    padding: 0;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.header-ul li{
    list-style: none;
    padding: 25px ;
    border: 1px solid white;      
}
.header-ul li a{
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
}
.header-ul li:hover{
    content: '';
    background-color: #222F3A;
    transition: 0.5s;
}

/* ==========ASIDE=========== */
.aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    background-color: #fff;
    width: 344px;     
    box-sizing: border-box;
    border: 1px solid black;
}
.aside-li {
    list-style: none;
    padding: 25px 0 25px 50px;
}
.aside-li a {
    font-size: 27px;
    line-height: 27px;
    color: #485863; 
    text-decoration: none;
} 
.aside li:hover{
    content: '';
    background: #DBDBDB;
    transition: 0.5s;
    padding-left: 100px;
    font-weight: bold;
}
/* ==========ASIDE END======= */

/* ===========CONTENT-INFO========= */
.content-info {
    display: flex;
    flex-wrap: wrap;
    width: 885px;
    margin-left: 52px;
    box-sizing: border-box;
    padding-bottom: 55px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.content-img {
    display: inline-block;
    border: 1px solid #000000;
    padding: 75px 292px 75px 270px;
    margin-bottom: 40px;
}
.content-img:hover {
    transition: 1s;
    transform: scale(1.1);
}
.content-info p {
    margin-bottom: 37px;
}
/* ===========CONTENT-INFO-END======= */


/* ========FOOTER======== */
.footer-menu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-size: 28px;
    line-height: 28px;  
    background-color: #63696E7A;
    padding: 21px 40px;
}
.footer-ul {
    display: flex;
}
.footer-li {
    margin-left: 13px;
}
.footer-li a {
    text-decoration: none;
    color: #0c1927;
}
.footer-li a:hover {
    content: "";
    color: #3181A6;
    transition: 0.5s;
    border-bottom: 1px solid #3181A6;
}
.address {
    color: #010101;
    margin-left: 135px;
}

/* ==========FOOTER END============= */